<div class="container modal_md">
  <div class="row modal_title">
      <div class="col-10">
          CONNECTED USERS
      </div>

  </div>
  <div class="row cardexList">
    <div class="col" style="padding: 0px;">
      <table style="background-color: rgb(182, 161, 161);" border="1px" width="100%">
        <tr>
          <th style="text-align:left">FirstName</th>
          <th style="text-align:left">LastName</th>
          <th style="text-align:left">ActivityCode</th>
          <th style="text-align:left">ElapsedTime</th>
          </tr>
        <tr *ngFor="let i of availableUsers" style="background-color: white;">
          <td>
            {{ i.firstName | uppercase }}
          </td>
          <td>
            {{ i.lastName }}
          </td>
          <td>
            {{ i.activityCode }}
          </td>
          <td>
            {{ i.lastModifiedActivityTimeStamp | activityDuration : "HH:mm:ss" | async}}
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
